/.bundle
/log/*.log
/tmp
*.*~
*~
**.war
*.rbc
*.sassc
.redcar/
.sass-cache
/coverage.data
/coverage/
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/stylesheets/compiled
/public/system/*
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/specifications
rerun.txt
pickle-email-*.html
