<h1>Editing user</h1>



<div class="links">

  <div class="btn btn-info">
   <%= link_to 'Back', users_path %>
  </div>

  <div class="btn btn-info">
   <%= link_to 'Delete', user, method :delete, data: {confirm: "Are you sure?"}$
  </div>



  <%= render 'form' %>



</div>
