<div class="main">

<p>Username: <%= @user.nickname %> </p><br><br>
<p>Description: <%= @user.description %></p><br><br>

<h3> <%= @user.nickname %> reviews: </h3><br><br>

	<% @user.reviews.each do |review| %>

		<p><%= link_to review.title, review %></p><br>

	<% end %>


</div>
