<%= content_for :title, "Edit game #{@game.title_capital}" %>
<h1>Editing game</h1>

<div class="links">
  <div class="btn btn-info">
    <%= link_to 'Back', game_reviews_path(@game) %>
  </div>
</div>

<%= render 'form' %>

