<div class="main">

	<div class="title"><h1></h1></div>	
	<div class="description"></div>
	<div class="requirements"></div>
	<div class="image"></div>
	<div class="genre"></div>
	<div class="pegi"></div>
	<div class="release_date"></div>
	<div class="producent"></div>

</div>
