@import "bootstrap";


/* universal */

html {
  overflow-y: scroll;
  background-color: #222222;
}

body {
  background-color: #222222;
}

.container-fluid{
	background: linear-gradient(#453258, #282031);
}

.form-control{
  max-width: 250px;
}

li{
  float: left;
}

header{
  width: 100%;
  float: left;
}
  
footer{
  width: 100%;
}

.container{
  clear: both;
  background-color: #785997;
  width: 100%;
}

.nav > li > a{
	color: #9868A7;
}

.nav > li > a:hover{
	background: linear-gradient(#9868A7, #453258);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
