<h1>List of reviews</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th>Number of comments</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.title %></td>
        <td><%= review.description %></td>
        <td><%= review.user.nickname%></td>
        <td><%= review.comments.size%></td>
      </tr>
    <% end %>
  </tbody>
</table>



